.contact {
    background: #202020;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact a {
    background-color: #ffd100;
    text-decoration: none;
    border: 2px solid #202020;
    border-radius: 3px;
    color: #202020;
    box-shadow: -2px -2px 5px #333;
    padding: .2rem .5rem;
    font-size: 20px;
    font-weight: bold;
    margin: .7rem;
}